@import '@styles/theme.scss';

.filter-input {
  //   position: relative;
  //   left: 0;
  flex: 1;
  display: flex;
  width: 100%;
  gap: 10px;
  margin: 15px 0px;
  border: none;
  box-shadow: 0 0 0 1px rgba(111, 105, 105, 0.5);
  border-radius: 10px;

  &:hover {
    box-shadow: 0 0 0 1px #333;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px $primary-color;
  }
}

.input-container {
  height: 40px;
  padding: 8px 0px;
  position: relative;
  width: 80%;
  label {
    background-color: $text-color-light;
    margin-top: 2px;
    position: absolute;
    top: -15px;
    left: 20px;
  }
  input {
    width: 100%;
  }
}

.date-input {
  border: none;
  background-color: #ffff;
  margin-left: 12px;
  color: #000;
  &:hover {
    border: none;
  }
  &:focus {
    outline: none;
  }
}

.icon-container {
  height: 40px;
  padding: 8px 0px;
  position: absolute;
  right: 12px;
}
