@import '@styles/theme.scss';

#workspace {
  width: 100%;
  padding: 5%;
  height: 100vh;
  background-color: #f3f3f3;
  overflow: scroll;
  display: flex;
  flex: 1;
}

.container {
  width: 80%;
  margin: auto !important;
}

.card-info-item {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  background-color: #f3f3f3;
}
