html,
body {
  height: 100%;
  width: 100%;
}

.login-background {
  background-image: url('/src/assets/images/login-screen-background.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: transparent;
  padding: 15px;
  width: 400px;
  margin-left: 50%;
  transform: scale(1.3);
}

h1 {
  color: #ffdfdf;
  font-size: 28px;
  margin-top: 0;
  text-align: center;
}

.bar {
  background-color: #8d487e;
  height: 6px;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type='tel'],
input[type='password'],
.password-input {
  background-color: #f8f8f8;
  border: none;
  border-radius: 36px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  text-align: center;
}

input[type='tel']:valid,
input[type='password']:valid,
.password-input:valid {
  color: black;
}

button[type='submit'] {
  background: linear-gradient(90deg, #358856, #3c2673);
  border: none;
  border-radius: 36px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.forgotPass {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #ffffff;
}

.remember-me {
  display: flex;
  align-items: center;
}

.text {
  font-size: 18px;
  margin-left: 5px;
}

.password-input-container {
  position: relative;
}

.password-input {
  padding-right: 35px;
}

.password-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}
