.sidebar-container {
	height: 100vh;
	display: flex;
	overflow: scroll initial;
}

.sidebar {
	width: 100% !important;
}

.sidebar-footer {
	text-align: start;

	a {
		padding: 5px;
		color: inherit;
	}
}
