@import '@styles/theme.scss';

@mixin selected-option {
  color: #fff !important;
  background-color: $sidebar-selected-item !important;
  border-radius: 10px;
}

#sidebar-container {
  height: 100vh;
  overflow: hidden;
  background-color: $sidebar-background;
}

.sidebar {
  a {
    color: inherit;

    :hover {
      @include selected-option;
    }
  }

  .active {
    @include selected-option;
  }
}

.sidebar-footer {
  a {
    // padding: 0 12px;
    // position: absolute;
    // bottom: 10px;

    // :hover {
    // 	background-color: inherit !important;
    // }
  }
}

// .sidebar-footer {
//     // a {
//     //     padding: 0 12px;
//     //     position: absolute;
//     //     bottom: 10px;

//     //     :hover {
//     //     	background-color: inherit !important;
//     //     }
//     // }
// }
