.sidebar-container {
	height: 100vh;
	display: flex;
	overflow: scroll initial;
	padding-left: 0;
}

.sidebar {
	width: 100% !important;
}

.sidebar-footer {
	text-align: start;
	height: 100%;
	a {
		padding: 5px;
		color: inherit;
		position: absolute;
		bottom: 10px;
	}
}
