$sidebar-background: #1e1e2e;
$sidebar-selected-item: #5d5a88;

$background-dark: #303446;

$primary-color: #018241;
$primary-color-hover: #6cd649;
$primary-color-200: #b2ffda;
$text-color: #666666;
$text-color-light: white;
$text-color-dark: black;
