@import '@styles/theme.scss';

$color_1: transparent;
$color_2: black;
$background-color_1: #f3f3f3;

.grid-container {
  flex: 1;
  width: 96%;
  margin: 2%;
  height: 75%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2%;
}
.grid-item {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: $background-color_1;
  > h3 {
    height: 7%;
    font-weight: 700px;
    color: $text-color-dark;
  }
}
.button {
  width: 95%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  margin-right: 4px;
  margin-left: 4px;
}
.activeButton {
  color: $color_2;
  background: #b2ffda;
}
.inactiveButton {
  color: $color_2;
  background: #f3f3f3;
  border-bottom: solid 1px #93f099;
}
